.card:hover {  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.55s ease-in-out;
}
.card {
   -webkit-box-shadow: 2px 1px 12px 0px rgba(0,0,0,0.73); 
box-shadow: 2px 1px 12px 0px rgba(0,0,0,0.73);

}
.card:hover hr {
  visibility: hidden;
}
body {
    background-color: #e6eff6;
    font-size: 12px;
    
}
h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 10px;
}

button {
  font-size: 13px;
}
